NEXT_PUBLIC_SUPABASE_URL=https://gbltufvsazkslumvszxk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdibHR1ZnZzYXprc2x1bXZzenhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2MjI4NjUsImV4cCI6MjEwNTE5ODg2NX0.02B9G1sZTv2ZBr5WnnC-LEBhYL53261AVh0UfKvdfXA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdibHR1ZnZzYXprc2x1bXZzenhrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTYyMjg2NSwiZXhwIjoyMTA1MTk4ODY1fQ.EHr79Dfklcz2D2fPyd1m16da4cjA0wxHyW8m80nUEC8
RAZORPAY_KEY_ID=rzp_test_Td2j1nKtpe7oIh
RAZORPAY_KEY_SECRET=5o0UjwP9hGs9rbMld6qYKAi5